mkdocs
pandas
flask~=3.0.0
aiohttp
loguru~=0.7.2
requests~=2.31.0
youtube-dl>=2021.12.17
matplotlib~=3.8.2
pymongo~=4.6.1
Flask==3.0.1
Flask-PyMongo==2.3.0

MyApplication~=0.1.0
PyYAML~=6.0.1
telebot~=0.0.5
detect~=2020.12.3
boto3